#header{
	background-color: RGBA(61, 40, 71, 0.7);
}

.glyphicon.glyphicon-leaf{
	color: white;
}
.pull-right {
 padding-top:15px; 
 color: white;
}

.pull-right li{
 padding-right:3px; 
}

.pull-right a{
 color: white;
}

#banner{
	background-color:RGBA(61, 40, 71, 0.7);
	width: 100vw;
	height: 100vh;
}
#banner .container{
	width: 100%;
	background-color:RGBA(61, 40, 71, 0.9);
	position: relative;
  top: 55%;
}

.title-banner p{
	text-align: center;
	color: white;
	font-size:20px ;
	letter-spacing: 0.5em;
	margin: 0;
}

.title-banner h1{
	text-align: center;
	color: #01FFE5;
	letter-spacing: 1.5em;
	margin-bottom: 10px;
	font-size: 50px;
}

.title-banner {
	background-color:RGBA(61, 40, 71, 1.00);
  margin: auto;

}
section{
	margin-top:50px;
	margin-bottom: 50px;
}

.features h3{
	display: inline;
}

.banner{
	text-align: center;
	color: white;
	background-color:#1B263A;
	padding-top: 50px;
	padding-bottom: 50px;
}

.banner p{
	padding-top:15px;
	padding-bottom:15px; 
}

.pull-center a{
	color: white;
	border: ridge;
	padding: 5px;
}

#pics .row{
	margin-right:0px;
	margin-left:0px; 
}

.col-xs-3 , .col-xs-6 , .col-xs-12{
	padding: 0px;
}

.col-xs-3 img , .col-xs-6 img , .col-xs-12 img{
	width: 100%;
	height: auto;
}

.loadmore .container a{
	text-align: center;
	color: white;
	border: ridge;
	padding: 10px;
	background-color: #1FDAB5;
}

.loadmore .container {
	padding-top:70px;
	padding-bottom:70px; 
	text-align: center;
}

.loadmore{
	background-color: #181E3A;
}

.now{
  background-color: #19AEE0;
  padding: 50px;
  margin: 0 auto;
}

.now p{
  color: white;
  margin: 0 auto;
  position: absolute;
  font-size: 20px;
}

.button{
	float: right;
	color: white;
  border-style: solid;
  border-color: white;
  padding: 0px 20px;
}

.skill {
	width: 48%;
  float: left;
  margin: 0 auto;
}


.services {
	width:48%;
	float: right;
	padding: 18px;
}

.scontainer img{
float: left;
position: 10px
}

.scontainer p{
font-size: 20px;
}

.scontainer a{
	padding: 5px;
  background-color: #A6B5BF;
  color: white;
  margin-left: 50px;
}

.skill li{
	list-style-type: none;
	padding: 10px ;
	margin-bottom:5px; 
}

.skill li:nth-child(1){
	font-size: 20px;
	margin-top: 5px;
}

.skill li:nth-child(2){
	background-color: #A9E770; 
	color:white;
}

.skill li:nth-child(3){
	background-color: #F09664; 
	color:white;
	width: 80%
}

.skill li:nth-child(4){
	background-color: #46EAD1; 
	color:white;
	width: 70%
}

.skill li:nth-child(5){
	background-color: #A88CE3; 
	color:white;
	width: 90%
}

#skills .row{
margin-top: 50px;
margin-bottom: 100px;
}

.red	{
	background-color:#E26968;
	padding: 20px;
}

.red p {
	text-align: center;
	color: white;
}

.red p:nth-child(1) {
	font-size:50px;
}






	
